<div class="limiter"  ></div>
  <div class="container-login100" >
    <div class="wrap-login100">
      <form class="login100-form validate-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
					<span class="login100-form-logo">
						<!--<i class="zmdi zmdi-landscape"></i>-->
      <img src="../../assets/images/money.png" width="50">
					</span>
        <span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
          <input class="input100" type="text" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required>
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Login
          </button>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" (click)="register()">
          register
          </button>
        </div>

        <div class="form-group text-center row m-t-10">
          <div class="col-12">
            <div *ngIf="error" class="alert alert-error" id="error">{{error}}</div>
          </div>
        </div>



      </form>
    </div>
  </div>
<!--//  second end-->



<!--</body>-->
<!--</html>-->
