<div>

<div>
  <table border="3">
      <thead>
          <tr>
            <th>Currency ID</th>
            <th>Description</th>
            <th>Arabic Description</th>
            <th>Currency Symbol</th>
            </tr>
      </thead>
  <tr *ngFor="let file of files;let i = index">
    <td>{{file.CurrencyID}}</td>
    <td>{{file.Description}}</td>
    <td>{{file.ArabicDescription}}</td>
    <td>{{file.CurrencySymbol}}</td>
  </tr>
</table>

</div>



<hr/>
<div></div>

<form  (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>




<div   data-validate = "Enter Currency ID">
 <span  >Currency ID:</span>
  <input   type="text" name="Currency_ID" placeholder="Currency ID" [(ngModel)]="model.CurrencyID" #username="ngModel" required>
  <span  ></span>
</div>


<div   data-validate="Enter Description">
<span  >Description:</span>
  <input  type="text" name="Description" placeholder="Description" [(ngModel)]="model.Description" #password="ngModel" required>
  <span    data-placeholder="&#xf191;"></span>

   <span style="margin-left: 116px;">Arabic Description:</span>
      <input  type="text" name="ArabicDescription" placeholder="Arabic Description" [(ngModel)]="model.ArabicDescription" #password="ngModel" required>
      <span    data-placeholder="&#xf191;"></span>
</div>

  <div data-validate="Enter Currency Symbol">
    <span  >Currency Symbol:</span>
      <input  type="text" name="Currency_Symbol" placeholder="Currency Symbol" [(ngModel)]="model.CurrencySymbol" #password="ngModel" required>
      <span    data-placeholder="&#xf191;"></span>
    </div>

    <div class="form-group">
        <div>
            <span  >Negative sign:</span>
          <select   id="SignSelector" name="selectedPrototypeSelector" [(ngModel)]="selectedPrototypeSelector" (ngModelChange)="onPrototypeChange()">
            <option *ngFor="let p of selectOption" [ngValue]="p"  >
              {{ p.id }}
            </option>
          </select>
        </div>
      </div>
      <hr/>

      <div>
        <table>
          <tr>
            <td>
          <table>
            <tr><td><span> Display negative symbol:</span></td></tr>
            <tr>
            <td><ul class="list-group">
                <li    *ngFor="let item of itemsList">
                  <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"/>
                  {{item.name}}
                </li>
          </ul>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="isChecked" name="isChecked" (change)="checkValue(isChecked?'1':'0')" />
          <label for="checkbox-signup">Include Space</label>
        </td>
      </tr>
      </table>
        </td>

        <td>
         <table>
           <tr><td><span>Separators:</span></td></tr>
              <tr><td><span>Decimal:</span></td>
              <td>
              <input  type="number" name="Description" placeholder="Description" [(ngModel)]="model.decimal" #password="ngModel" required>
              </td></tr>
              <tr><td><span>Thousands:</span></td>
                  <td>
                  <input  type="number" name="Description" placeholder="Description" [(ngModel)]="model.thousands" #password="ngModel" required>
                  </td>
                </tr>
          </table>
          </td>
        </tr>
      </table>
            </div>
      <br/>




      <table>
        <tr><td>
          <table>
            <tr><td><span>Currency Unit:</span></td>
              <td>
                 <input   type="text" name="CurrencyUnit" placeholder="Currency Unit" [(ngModel)]="model.CurrencyUnit" #username="ngModel" required>
                </td>
              </tr>
              <tr><td><span>Subunit Connector:</span></td>
               <td>
                 <input   type="text" name="SubunitConnector" placeholder="Subunit Connector" [(ngModel)]="model.SubunitConnector" #username="ngModel" required>
                </td>
              </tr>

              <tr><td><span>Currency subunit:</span></td>
              <td>
                 <input   type="text" name="Currencysubunit" placeholder="Currency subunit" [(ngModel)]="model.Currencysubunit" #username="ngModel" required>
              </td>
            </tr>

          </table>
        </td>

        <td>
        <table>
            <tr><td><span>Currency Unit – Arabic:</span></td>
                <td>
                   <input   type="text" name="CurrencyUnitArabic" placeholder="Currency Unit – Arabic" [(ngModel)]="model.CurrencyUnitArabic" #username="ngModel" required>
                  </td>
                </tr>

                <tr><td><span>Subunit Connector – Arabic:</span></td>
                 <td>
                   <input   type="text" name="SubunitConnectorArabic" placeholder="Subunit Connector -Arabic" [(ngModel)]="model.SubunitConnectorArabic" #username="ngModel" required>
                  </td>
                </tr>

                <tr><td><span>Currency subunit – Arabic:</span></td>
                <td>
                   <input   type="text" name="CurrencysubunitArabic" placeholder="Currency subunit -Arabic" [(ngModel)]="model.CurrencysubunitArabic" #username="ngModel" required>
                </td>
              </tr>
            </table>
          </td>
       </tr>
          </table>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Login
          </button>
        </div>

</form>

<div class="container-login100-form-btn">
  <button class="login100-form-btn" type="submit" (click)="logOut()">
    logOut
  </button>
</div>

</div>


