
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">

  <div class="account-bg">
    <div class="card-box mb-0">
      <div class="text-center m-t-20">
        <a routerLink="/home" class="logo">
          <i class="pe-7s-chat icon-c-logo"></i>
          <span>currency</span>
        </a>
      </div>
      <div class="m-t-10 p-20">
        <div class="row">
          <div class="col-12 text-center">
            <h6 class="text-muted text-uppercase m-b-0 m-t-0">Sign Up</h6>
          </div>
        </div>
        <form (submit)="RegisterUser($event)" class="m-t-20" action="" >
          <div class="form-group row">
            <div class="col-12">
              <input type="email" id="emailInput" class="form-control " [(ngModel)]="Email" placeholder="Email" name="Email" required="required" pattern="^((?!_)[A-Z a-z0-9])+$">
              <!--<input class="form-control" type="email" required="required" id="emailInput" placeholder="Email" [(ngModel)]="Email" name="Email"  pattern="^((?!_)[A-Z a-z0-9])+$">-->
              <span style="color: red" *ngIf="messageEmailError!=resNull">{{messageEmailError}}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="text" required="required" id="nameInput" placeholder="Name" [(ngModel)]="Name" name="Name">
              <span style="color: red" *ngIf="messageNameError!=resNull">{{messageNameError}}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="text" required="required" placeholder="Username" id="userNameInput" [(ngModel)]="Username" name="UserName" >
              <span style="color: red" *ngIf="messageUserNameError!=resNull">{{messageUserNameError}}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" (ngModelChange)="passwordlength($event)" type="password" required="required" id="passwordInput" placeholder="Password" [(ngModel)]="password" name ="password">
              <span style="color: red" *ngIf="messagePasswordError!=resNull">{{messagePasswordError}}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="password" required="" id="confirm-passwordInput" placeholder="Confirm-Password" [(ngModel)]="confirmPassword" name="confirmPassword" (ngModelChange)="onChange($event)">
              <span style="color: red" *ngIf="messageConfirmPasswordError!=resNull">{{messageConfirmPasswordError}}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <select class="form-control" id="countrySelector" name="selectedPrototypeSelector" [(ngModel)]="selectedPrototypeSelector" (ngModelChange)="onPrototypeChange()">
                <option *ngFor="let p of prototypes" [ngValue]="p" id="DLOption">
                  {{ p.id }}
                </option>
              </select>
              <span style="color: red" *ngIf="messageCountryError!=resNull">{{messageCountryError}}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <div class="checkbox checkbox-primary">
                <input id="checkbox-signup" type="checkbox" checked="checked">
                <label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
              </div>
            </div>
          </div>
          <div class="form-group row text-center m-t-10">
            <div class="col-12">
              <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Join Now</button>
              <span style="color: red" *ngIf="display !=''">{{display}}</span>
            </div>
          </div>



        </form>

      </div>
    </div>
  </div>
  <!-- end card-box-->
  <div class="m-t-20">
    <div class="text-center">
      <p class="text-white">Already have account? <a routerLink="/login" class="text-white m-l-5"><b>Sign In</b> </a></p>
    </div>
  </div>
</div>
<!-- end wrapper page -->
<script>
  var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="./../../assets/js/jquery.min.js"></script>
<script src="./../../assets/js/popper.min.js"></script><!-- Tether for Bootstrap -->
<script src="./../../assets/js/bootstrap.min.js"></script>
<script src="./../../assets/js/detect.js"></script>
<script src="./../../assets/js/waves.js"></script>
<script src="./../../assets/js/jquery.nicescroll.js"></script>
<script src="./../../assets/plugins/switchery/switchery.min.js"></script>
<!-- App js -->
<script src="./../../assets/js/jquery.core.js"></script>
<script src="./../../assets/js/jquery.app.js"></script>
